/*.nav li{
  float: right;
}*/

p {
  line-height: 1.6em;
}

.top {
  background-color: lightblue;
  padding: 30px;
}

.top h3 {
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
}

.spiel h1 {
  font-size: 72px;
  padding-bottom: 1em;
}

.spiel h1,  .about h3, .photo-overlay h4 {
  font-family: 'Pacifico', cursive;
}

.spiel, .about h3 {
  text-align: center;
}


.spaceholder {
  height: 400px;
}



/******
About Page Styling
*****/

.profile-pic {
  border-radius: 25%;
}

.about h3{
  font-size: 5rem;
  margin: 5rem 0;
}

.about-text {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.contact-info a {
  display: block;
  padding: 0 0 0 35px;
  margin-bottom: 15px;
  min-height: 30px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.contact-info a.phone {
  background-image: url("../img/phone.png");
}

.contact-info a.email {
  background-image: url("../img/email.png");
}

.contact-info a.facebook {
  background-image: url("../img/facebook.png");
}


/******
Projects Page Styling
*****/

.row-1, .row-2, .row-3 {
  height: 300px;
}

.cupcakes {
  background: url("../img/cupcake.jpg") no-repeat center;
}

.hop-hop {
  background: url("../img/bunny.jpg") no-repeat center;
}

.hanson {
  background: url("../img/hanson.jpg") no-repeat center;
}

.lucky {
  background: url("../img/lucky.jpg") no-repeat center;
}

.resort {
  background: url("../img/fire.jpg") no-repeat center;
}

.boring {
  background: url("../img/yawn.jpg") no-repeat center;
}

.cookies {
  background: url("../img/cookies.jpg") no-repeat center;
}

.wiki {
  background: url("../img/wiki.jpg") no-repeat center;
}

.first-web-page {
  background: url("../img/baby.jpg") no-repeat center;
}

.photo-overlay {
  position: relative;
  min-height: 300px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  margin: 15;
}

.photo-overlay a {
  color: white;
}
